{{define "menu"}}
<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/style.css">
        <title>StreetShop</title>
    </head>

    <body>
        <header class="header">
            <nav class="left-header">
                    <a href="/"><h3>Home</h3></a>
                    <a href="/addproduct"><h3>Add</h3></a>
            </nav>
            <div class="div-logo">
                <img class="logo" src="/static/img/logo/1.png" alt="logo">  
            </div>       
        </header>

        <h2>Les Produits</h2>
        <div class="list-product">
        {{range .}}
            <div class="product">
                <img class="img-product" src="{{.PicturePath}}" alt="{{.Name}}">
                <div class="desc-product">
                    <h5>{{.Name}}</h5>

                    {{if .InSale}}
                    <p class="discounted"><s>{{.Price}}€</s> {{.Apply50Discount}}€</p>
                        {{else}}
                    <p>{{.Price}}€</p>
                    {{end}}

                    <div class="product-button">
                        <a href="/product/{{.ID}}"><button>En savoir plus</button></a>
                    </div>
                </div>
            </div>
        {{end}}
        </div>

    </body>

</html>
{{end}}