{{define "product"}}
<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/style.css">
        <title>{{.Name}}</title>
    </head>

    <body>
        <header class="header">
            <nav class="left-header">
                    <a href="/"><h3>Home</h3></a>
                    <h3>Add</h3>
            </nav>
            <div class="div-logo">
                <img class="logo" src="/static/img/logo/1.png" alt="logo">  
            </div>       
        </header>

        <main class="main-product">
            <div class="product-product">
                <img class="img-product" src="{{.PicturePath}}" alt="{{.Name}}">
                <div class="desc-product-product">
                    <h1>{{.Name}}</h1>

                    <p>Tailles disponibles : S | M | L<br></p>
                    <p>{{.Desc}}</p>

                    {{if .InSale}}
                    <p class="discounted"><s>{{.Price}}€</s> {{.Apply50Discount}}€</p>
                        {{else}}
                    <p>{{.Price}}€</p>
                    {{end}}

                    <div class="product-button">
                        <button>Ajouter au panier</button>
                    </div>

                </div>
            </div>
        </main>
    </body>

</html>
{{end}}